/* Navbar */

.navbar {

    padding: 18px 0;

}


.navbar-brand img {
    object-fit: contain;
    border-radius: 6px;
}










.navbar-brand {

    font-size: 24px;

}


.nav-link {

    margin-left: 15px;

    font-weight: 700;

}


.navbar .nav-link:hover {
    color: #0d6efd !important;
}
