{% load static %}
<nav class="navbar navbar-expand-lg bg-white shadow-sm">

    <div class="container">

        <!-- Logo -->
       <a class="navbar-brand fw-bold d-flex align-items-center" href="#">

    <img src="{% static 'images/logo.jpg' %}"
         alt="PAC College Peshawar Logo"
         width="45"
         height="45"
         class="me-2">

    PAC College Peshawar

</a>


        <!-- Mobile Menu Button -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- Navbar Content -->
        <div class="collapse navbar-collapse"
             id="mainNavbar">

            <!-- Menu Items -->
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link active"
                       href="#">
                        Home
                    </a>
                </li>

               <li class="nav-item dropdown-hover">

    <a href="#" class="nav-link">
        About Us
        <i class="bi bi-chevron-down"></i>
    </a>

    <div class="about-dropdown">

        <a href="{% url 'principal_message' %}">
            <i class="bi bi-person-badge"></i>
            Principal's Message
        </a>

    </div>

</li>

            <li class="nav-item dropdown-hover">

    <a href="#" class="nav-link">
        Programs
        <i class="bi bi-chevron-down"></i>
    </a>

    <div class="program-dropdown">

        <a href="{% url 'caprogram' %}">
            <i class="bi bi-mortarboard"></i>
            CA
        </a>

        <a href="{% url 'accaprogram' %}">
            <i class="bi bi-mortarboard"></i>
            ACCA
        </a>

    </div>

</li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        Achievements
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        Contact
                    </a>
                </li>

                <!-- Apply Button -->


            </ul>

        </div>

    </div>

</nav>